.cart-item {
  margin-bottom: 30px;
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  img {
    margin-left: 20px;
  }
  #cart-item-name {
    position: absolute;
    left: 10rem;
  }
  #cart-item-price {
    position: absolute;
    right: 21rem;
  }
  input {
    text-align: center;
    height: 20px;
    width: 50px;
  }
  button {
    text-align: center;
    height: 26px;
    width: 26px;
  }
  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 9rem;
  }
  #delete {
    margin-right: 20px;
    cursor: pointer;
    position: absolute;
    right: 1rem;
  }
}
